/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-checkbox {
    width: 17px;
    height: 17px;
    background-image: url('images/ecui/icons.png');
    background-position:0 -84px;
    background-repeat: no-repeat;
    input {
    	position: relative !important;
    	width: 10px !important;
    	left: -12px !important;
        outline: none;
        border-radius: 0;
        display: none;
    }
}
.ui-checkbox-checked {
    background-image: url('images/ecui/icons.png');
    background-position:0 0;
}
.ui-checkbox-disabled,
.ui-disabled .ui-checkbox{
    background-image: url('images/ecui/icons.png');
    background-position:0 -29px;
}
.ui-checkbox-checked-disabled,
.ui-disabled .ui-checkbox-checked{
    background-image: url('images/ecui/icons.png');
    background-position:0 -57px;
}
