/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-combox {
    position: relative;

    .ui-combox-text {
        position: absolute !important;
        overflow: hidden !important;
        .width100rate();
        .height100rate();

        input {
            position: absolute;
            left: 0;
            top: 0;
            display: block !important;
        }
    }

    input {
        position: absolute !important;
        display: none !important;
        .width100rate();
        outline: none !important;
    }
}
.ui-combox.ui-combox-placeholder {
     .ui-combox-text {
        input {
            .opacity0();
        }
    }
}

.ui-combox-placeholder {
    input {
        background-color: transparent;
    }
}

.ui-combox-options {
    overflow: auto !important;
    overflow-x: hidden !important;
}
