/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-combox {
    position: relative;

    .ui-combox-text {
        position: absolute !important;
        overflow: hidden !important;
        .width100rate();
        .height100rate();
    }

    input {
        position: absolute !important;
        display: block !important;
        .width100rate();
        outline: none !important;
    }
}

.ui-combox-placeholder {
    .ui-combox-text {
        *z-index: 1;
        *background: white;
    }
}

.ui-combox-options {
    overflow: auto !important;
    overflow-x: hidden !important;
}
