/*<script>window.onload=function(){var url=location.href,hash=document.getElementsByTagName('TEXTAREA')[0].value;url=decodeURIComponent(url.slice(url.lastIndexOf('=')+1));parent.location.href=url+'#'+encodeURIComponent(hash.slice(hash.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')||' ');}</script><textarea>*/
.ui-combox {
    width: 110px;
    height: 28px;
    padding-right: 30px;
    background: url(images/ecui/arrow.png) no-repeat 120px center;
    font-size: 14px;
    font-family: "宋体";
    border: 1px solid #acbaca;
    color: #8492a6;
    .ui-combox-text {
        position: absolute;
        overflow: hidden !important;
    }
    input {
        position: absolute;
    	outline: none;
    }
}
.ui-combox-hover {
    border-color: #8492a6;
}
.ui-combox-active {
    border-color: #368cda;
}
.ui-combox-focus {
    border-color: #368cda;
}
.ui-combox-disabled {
    border-color: #e0e6ed;
}
.ui-combox-disabled {
    .ui-combox-text {
        background-color: #eff2f7;
        color: #e0e6ed
    }
}
.ui-combox-options {
    position: absolute !important;
    overflow: auto !important;
    border: 1px solid #d7d8d9;
    font-size: 12px;
    font-family: "宋体";
    background: #fff;
    overflow-x: hidden;
    .ui-combox-item {
        display: block !important;
        text-indent: 10px;
        line-height: 28px;
        overflow: hidden;
        font-family: "'Helvetica Neue', 'Microsoft Yahei','PingFang SC'";
        text-overflow: ellipsis;
    }
    .ui-combox-item-hover,
    .ui-combox-item-focus {
        background-color: #368cda;
        color: #fff;
        cursor: pointer;
    }
}
