/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
body {
    position: relative !important;
    padding: 0 !important;
    border-width: 0 !important;
    margin: 0 !important;
}
.ui-valid {
    position: absolute !important;
    overflow: scroll !important;
    visibility: hidden !important;
    top: -90px !important;
    left: -90px !important;
    width: 80px !important;
    height: 80px !important;
    border: 1px solid !important;
	div {
    	position: absolute !important;
    	top: 0 !important;
    	height: 90px !important;
    }
}
.ui-modal {
    overflow: hidden !important;
}
.ui-mask {
    position: absolute !important;
    background-color: #000 !important;
}

.ui-mobile-confirm {
    width: 100%;
    padding-top: 30px;
}
.ui-mobile-confirm-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    font-size: 14px;
    background: white;
    z-index: 1;

    div {
        position: absolute;
        line-height: 29px;
        right: 10px;
    }
}
.ui-mobile-confirm-layout {
    width: 100%;
    position: relative !important;
}
