/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-input {
    .inline-block();
    overflow: hidden !important;
	input,
	textarea {
	    border: 0 !important;
    	padding: 0 !important;
    	margin: 0 !important;
	    font-family: "'Helvetica Neue', 'Microsoft Yahei','PingFang SC'";
	    color: #495362;
	}
	textarea {
	    resize: none;
	    word-wrap: break-word;
	}
}
