/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-locked-table {
    .ui-locked-table-fill {
        position: absolute !important;
        top: 0px;
        z-index: -1 !important;
        height: 1px !important;
    }

    .ui-locked-table-left {
        pointer-events: none;

        td,th {
            pointer-events: auto;
        }

        .ui-locked-table-empty {
            pointer-events: none;
        }
    }

    .ui-locked-table-empty {
        padding: 0px !important;
        border: 0px !important;
        background: transparent !important;
        content: 'pointer-events:none';
        filter: pointer-events(none);
    }

    .ui-locked-table-body {
        position: absolute;
    }
}
