/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-mobile-carousel {
    white-space: nowrap !important;
}

.ui-mobile-carousel img {
    display: inline;
    width: 100% !important;
    height: 100% !important;
}
