.ui-mobile-confirm {
    position: relative;
    .m-width100rate();

    .ui-mobile-confirm-title {
        position: absolute !important;
        top: 0px;
        left: 0px;
        .m-width100rate();
        z-index: 1 !important;

        div {
            position: absolute;
        }
    }

    .ui-mobile-confirm-layout {
        position: relative;
        .m-width100rate();
    }
}
