/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-mobile-options {
    .m-width100rate();

    .ui-mobile-options-mask {
        position: absolute !important;
        .m-width100rate();
        z-index: 2 !important;
        height: 100% !important;
        pointer-events: none !important;
    }
    .ui-mobile-options-view {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        width: 100%;
    }
}
