/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-mobile-options {
    .m-width100rate();

    .ui-mobile-options-mask {
        position: absolute !important;
        .m-width100rate();
        z-index: 1 !important;
        height: 100% !important;
        background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        pointer-events: none !important;
    }
}
