/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-mobile-photo-hotspot-image {
    position: fixed !important;
    z-index: 32100 !important;
}

.ui-mobile-photo-hotspot-title {
    position: fixed !important;
    bottom: 0px;
    z-index: 32200 !important;
    .m-width100rate();
}

.ui-mobile-photo-hotspot-text {
    float: left;
    .inline-block();
}

.ui-mobile-photo-hotspot-count {
    float: right;
    .inline-block();
}
