/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
#ECUI-KEYBOARD {
    position: absolute;
    bottom: 0px;
}

.ui-mobile-scroll {
    position: relative;
    overflow: hidden !important;
}

.ui-mobile-scroll-body {
    overflow: visible !important;
    min-height: 100%;
    transform: translateZ(0px);
    .m-width100rate();
}
