/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-multi-select {
    cursor: pointer;
    position: relative;

    .ui-multi-select-text {
        position: absolute !important;
        overflow: hidden !important;
    }

    input {
        position: absolute !important;
        z-index: -1 !important;
        opacity: 0 !important;
    }
}
.ui-multi-select-options {
    border: 1px solid #D6DBE6;
    min-width: 200px;
    .ui-item {
        display: inline-block;
    }
    .ui-item-selected {
        color: #368cda;
    }
    .ui-multi-select-options-operate {
        display: block;
        .ui-button {
            display: inline-block;
        }
    }
}