/*<script>window.onload=function(){var url=location.href,hash=document.getElementsByTagName('TEXTAREA')[0].value;url=decodeURIComponent(url.slice(url.lastIndexOf('=')+1));parent.location.href=url+'#'+encodeURIComponent(hash.slice(hash.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')||' ');}</script><textarea>*/
.ui-progress-bar {
	.ui-progress-mask {
		position: absolute !important;
		left: 0 !important;
		top: 0 !important;
		border: 0 !important;
		padding: 0 !important;
		background: blue;
		color: #fff;
	}
}
