/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-radio {
    input {
        position: relative !important;
        left: -12px !important;
        width: 10px !important;
        border-radius: 0px;
        opacity: 0;
    }
}

