/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-tab {
    position: relative;

    .ui-tab-item {
        .ui-tab-bar {
            position: static !important;
        }
    }

    .ui-tab-bar {
        position: absolute !important;
    }
}
