/*<script>window.onload=function(){var url=location.href,hash=document.getElementsByTagName('TEXTAREA')[0].value;url=decodeURIComponent(url.slice(url.lastIndexOf('=')+1));parent.location.href=url+'#'+encodeURIComponent(hash.slice(hash.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')||' ');}</script><textarea>*/
.ui-tab-title {
    border-bottom:1px solid #ACBACA;
    display: flex;
        }
.ui-tab-item{
    cursor: pointer;
    text-align: center;
    height:40px;
    line-height:40px;
    width:120px;
    display: inline-block;
    color: #ACBACA;
    margin-bottom: -1px;
}
.ui-tab-item-selected{
    cursor: pointer;
    text-align: center;
    height:38px;
    line-height:38px;
    width:120px;
    border-radius: 4px 4px 0 0;
    border:1px solid #ACBACA;
    display: inline-block;
    color: #495362;
    border-bottom: 1px solid #fff;
}