/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-tab-title {
    border-bottom:1px solid #ACBACA;
    display: flex;
        }
.ui-tab-item{
    cursor: pointer;
    text-align: center;
    height:40px;
    line-height:40px;
    width:120px;
    display: inline-block;
    color: #ACBACA;
    margin-bottom: -1px;
}
.ui-tab-item-selected{
    cursor: pointer;
    text-align: center;
    height:38px;
    line-height:38px;
    width:120px;
    border-radius: 4px 4px 0 0;
    border:1px solid #ACBACA;
    display: inline-block;
    color: #495362;
    border-bottom: 1px solid #fff;
}