/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-table {
    /*
     * 表格样式，th、td 的 boder、pading的值需要严格规范
     * 左右的border、padding值相加必须相等，不然表格宽度计算会错乱
     */
    position: relative;
    overflow: hidden !important;

    .ui-table-layout {
        position: relative !important;
        padding: 0px !important;
        border: 0px !important;
        margin: 0px !important;
    }

    .ui-table-layout-scrollbar {
        overflow: auto !important;

        .ui-table-layout-body {
            padding: 0px !important;
            border: 0px !important;
            margin: 0px !important;
        }
    }

    .ui-table-layout-touchpad {
        overflow: hidden !important;

        .ui-table-body {
            position: static;
            overflow: auto !important;
        }
    }

    table {
        width: 100%;
    }

    .ui-table-head {
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden !important;
    }

    .ui-table-body {
        position: absolute;
        left: 0px;
        overflow: hidden !important;
    }
}
