/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-text {
    .ui-placeholder {
        position: absolute;
        display: none;
    }
}
.ui-text-empty,
.ui-text-error {
    .ui-placeholder {
        z-index: 1;
        display: block;
    }
}