.ui-form{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;
    border:1px solid #363636;
    background:#fff;
    -webkit-box-shadow:0px 0px 10px 0px #000;
    -moz-box-shadow:0px 0px 10px 0px #000;
    -o-box-shadow:0px 0px 10px 0px #000;
    -ms-box-shadow:0px 0px 10px 0px #000;
    box-shadow:0px 0px 10px 0px #000;
}
.ui-form-hover{
    border-color:#666;
}
.ui-form-focus{
    border-color:#666;
}
.ui-form-title{
    background:#363636;
    height:24px;
    line-height:24px;
    display:block;
    color:#fff;
    -webkit-border-radius:2px 2px 0px 0px;
    -moz-border-radius:2px 2px 0px 0px;
    -o-border-radius:2px 2px 0px 0px;
    -ms-border-radius:2px 2px 0px 0px;
    border-radius:2px 2px 0px 0px;
    text-align:center;
}
.ui-form-title-hover{
    cursor:move;
}
.ui-form-title-focus{
    color:#fff;
}
.ui-form-close{
    right:5px;
    top:5px;
}
.ui-form-body-content{
    padding:10px;
}
.ui-form-foot{
    clear:both;
    test-align:right;
}

.ui-dark-form{
    background: #363636;
    color:#fff;
}
.ui-dark-form.ui-form-title{
    text-align:center;
    background:none;
    line-height:24px;
    height:24px;
    color:#fff;
}
.ui-dark-form .ui-form-title-hover,
.ui-dark-form .ui-form-title-focus{
    background:none;
}
.ui-dark-form-content{
    padding:10px;
}
.ui-dark-form .ui-multi-calendar,
.ui-dark-form .ui-calendar,
.ui-dark-form .ui-input,
.ui-dark-form .ui-select{
    background:none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;
}
.ui-dark-form .ui-input-virtual input{
    color:#666;
}
.ui-dark-form .ui-input{
    border-color:#888;
}
.ui-dark-form .ui-input-hover{
    border-color:#aaa;
}
.ui-dark-form .ui-input-focus input{
    background-color:#fff;
    border:1px solid #ababab;
    color:#333;
}
.ui-dark-form th{
    text-align:right;
    font-weight:normal;
    width:60px;
}

.ui-form-info .ui-form-title{
    display:none;
}
.ui-form-info .ui-form-close{
    display:none;
}
.ui-form-info .ui-messagebox-bottom{
    display:none;
}