/*<script>window.onload=function(){var url=location.href,hash=document.getElementsByTagName('TEXTAREA')[0].value;url=decodeURIComponent(url.slice(url.indexOf('=')+1));parent.location.href=url+'#'+encodeURIComponent(hash.slice(hash.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')||' ');}</script><textarea>*/
.ui-upload {
	text-align: center;
	width: 300px;
	height: 300px;
	border: 1px solid black;
	display:block;
	.ui-progress-bar {
		position: relative;
		.inline-block();
		top: 28px;
		width: 80%;
		height: 5px;
		border: 1px solid black;
		border-radius: 3px;
	}
	.ui-progress-circle {
		width: 50px;
		height: 50px;
		opacity: 0.5;
	}
}
