/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.inline-block() {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.opacity0() {
    opacity: 0;
    filter: alpha(opacity=00);
}
.pointer-events-none() {
    pointer-events: none;
    content: 'pointer-events:none';
    filter: pointer-events(none);
}
.width100rate() {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.height100rate() {
    height: 100%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.m-width100rate() {
    box-sizing: border-box !important;
    width: 100%;
}
