/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-cities {
	position: relative;
	font-size: 0px;
	overflow: visible !important;
	.ui-select {
		background:url('images/ecui/arrow.png') no-repeat;
		background-position: 100px center !important;
		background-color: #FFF; 
		position: relative;
		width: 120px !important;
		height: 30px !important;
		line-height: 30px !important;
		padding-right: 0px;
		margin: 0px 5px;
		vertical-align: middle;
		font-size: 14px;
		display: inline-block !important;
		border: 1px solid #acbaca !important;
		color: #8492a6;
	}
	.ui-select-focus {
	    border: 1px solid #368cda !important;
	}
}