/*<script>window.onload=function(){value=document.getElementsByTagName('TEXTAREA')[0].value;parent.postMessage({url:location.href.slice(7),text:value.slice(value.indexOf('\n')+1).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&')},'*');}</script><textarea>*/
.ui-multi-select {
    cursor: pointer;
}

.ui-multi-select-options {
    border: 1px solid #D6DBE6;
    min-width: 200px;

    .ui-item {
        display: inline-block;
    }

    .ui-multi-select-options-operate {
        display: block;

        .ui-button {
            display: inline-block;
        }
    }
}

.ui-custome-check-box-input {
    cursor: pointer;
    border: 1px solid #acbaca;
    border-radius: 2px;
    color: #495362;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 20px;
    width: 120px;
    height: 30px;

    input {
        display: none;
    }
}

.ui-custome-check-box.ui-custome-check-box-popup {
    border: 1px solid #D6DBE6;
    min-width: 200px;
    max-width: 360px;
    max-height: 260px;
    overflow-y: auto !important;
    background-color: #FFF;
    font-size: 14px;

    label {
        display: inline-block;
        vertical-align: middle;
        min-width: 88px;
        height: 38px;
        line-height: 38px;
        padding-left: 10px;
    }

    label .ui-checkbox {
        vertical-align: middle;
        margin-right: 5px;
    }

    .no-result {
        padding: 20px !important;
        text-align: center;
    }

    .ui-multi-select-options-operate,
    .ui-operate {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #eff2f7;
    }

    .ui-multi-select-options-operate .ui-button,
    .ui-operate .ui-button {
        display: inline-block;
        width: 78px;
        height: 28px;
        line-height: 28px;
    }

    .ui-multi-select-options-operate .ui-button.cancel,
    .ui-operate .ui-button.cancel {
        background-color: #E0E6ED;
        border: 1px solid #C0CCDA;
        border-radius: 2px;
    }

    .ui-multi-select-options-operate .ui-button.sure,
    .ui-operate .ui-button.sure {
        background-color: #F94964;
        border: 1px solid #DF2D42;
        border-radius: 2px;
        color: #FFF;
    }
}
