<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<filter>
		<filter-name>Control</filter-name>
		<filter-class>org.lilystudio.ordinary.web.Controller</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>debug</param-value>
		</init-param>
		<init-param>
			<param-name>delay</param-name>
			<param-value>3000</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Control</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>