
/**
 * 基础按钮样式
 */
.ui-button{
    text-align:center;
    padding:5px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    cursor:pointer;
    margin-right:2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    border:1px solid #2c5a5a;
    background:-moz-linear-gradient(top, #50b5b5, #49a0a0);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#50b5b5), to(#49a0a0));
    *background:#49a0a0;
    color:#fff;
    text-shadow:-1px -1px 0px #416e6f;
}
.ui-button{
    text-align:center;
    padding:5px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    cursor:pointer;
    background:#65ADDE;
    color:#fff; 
    margin-right:2px;
    border-radius:3px;
}
.ui-button-hover{
    border-color:#2c5a5a;
    background:-moz-linear-gradient(top, #76c6c7, #5ca4a4);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#76c6c7), to(#5ca4a4));
    *background:#5ca4a4;
}
.ui-button-focus{
}
.ui-button-small{
    padding:0px;
    width:10px;
    height:10px;
}
.ui-em-button{
    background:-moz-linear-gradient(top, #50b5b5, #49a0a0);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#50b5b5), to(#49a0a0));
    *background:#49a0a0;
    border:1px solid #2c5a5a;
    color:#fff;
    text-shadow:-1px -1px 0px #000;
    -weikit-box-shadow: 0px 0px 1px 1px #fff;
    -moz-box-shadow: 0px 0px 1px 1px #fff;
    -o-box-shadow: 0px 0px 1px 1px #fff;
    -ms-box-shadow: 0px 0px 1px 1px #fff;
    box-shadow: 0px 0px 1px 1px #fff;
}
.ui-dark-button{
    background:-moz-linear-gradient(top, #4a4a4a, #383838);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4a4a4a), to(#383838));
    *background:#383838;
    border:1px solid #111;
    color:#fff;
    text-shadow:-1px -1px 0px #333;
    -weikit-box-shadow: 0px 0px 1px 1px #fff;
    -moz-box-shadow: 0px 0px 1px 1px #fff;
    -o-box-shadow: 0px 0px 1px 1px #fff;
    -ms-box-shadow: 0px 0px 1px 1px #fff;
    box-shadow: 0px 0px 1px 1px #fff;
}

.ui-gray-button{
    border:1px solid #b1b1b1;
    background:-moz-linear-gradient(top, #cecece, #959595);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#cecece), to(#959595));
    *background:#959595;
    color:#fff;
    text-shadow:-1px -1px 0px #282828;
}
.ui-gray-button-hover{
    border:1px solid #b1b1b1;
    background:-moz-linear-gradient(top, #dcdcdc, #8e8e8e);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), to(#8e8e8e));
    *background:#8e8e8e;
    color:#fff;
    text-shadow:-1px -1px 0px #282828;
}