.ui-vscrollbar{
    width:14px;
    background:#ccc;
    padding:14px 0px;
}
.ui-vscrollbar .ui-button-hover,
.ui-vscrollbar .ui-button,
.ui-hscrollbar .ui-button,
.ui-hscrollbar .ui-button-hover{
    padding:0;
    margin:0;
}
.ui-vscrollbar-prev,
.ui-vscrollbar-next{
    width:14px;
    height:14px;
}
.ui-hscrollbar-prev,
.ui-hscrollbar-next{
    width:14px;
    height:14px;
}
.ui-vscrollbar .ui-scrollbar-thumb{
    width:16px;
}
.ui-hscrollbar{
    height:14px;
    background:#ccc;
    padding:0 14px;
}
.ui-hscrollbar .ui-scrollbar-thumb{
    height:14px;
}
